// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ionitem{
  background-color: #F0FFFF;
}
.slide{
  background-color: #F5F5F5;
  overflow-y: scroll;
  display: block;
  margin-bottom: 32px;
}

.card{
  border-style: none;
  border-color: transparent;
  position: absolute;
  top: 0px;
  padding-bottom: 35px;
  background-color: white;
}

.cardheader{
    color: white;
    background-color: #548B54;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.col{
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.listtitle{
  background-color: #7CCD7C;
  font-size: 16px;
  color: white;
  text-align: left;
  text-transform: none;
  border-style: solid;
  border-width: thin;
  border-color: #D3D3D3;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.inputitem{
  border-bottom-style: solid;
  border-color: #D3D3D3;
  border-width: thin;
}

.outros{
  margin: 0px;
  padding: 0px;
}

.divitem2{
  color: #1C1C1C;
  text-align: left;
  padding: 3px;
  margin-left: 6px;
  margin-bottom: 0px;
  margin-top: 4px;
  font-size: 14px;
  border-style: inset;
  border-width: thin;
  border-radius: 5px;
  width: 95%;
}

.divitem4{
  text-align: left;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 4px;
  font-size: 14px;
}

.listitem{
    border-color: #D3D3D3;
    margin: 0px;
    padding: 0px;
}

.subgrupo{
  color: gray;
  position: relative;
  overflow: hidden;
  visibility: visible;
  display: none;
}

//novas classes a serem seguidas

.cartao{
  border-radius: 5px;
  position: absolute;
  top: 0px;
  padding-bottom: 35px;
}

.titulolista{
  text-align: left;
  border-style: none;
  background-color: #7CCD7C;
  border-radius: 5px;
  color: white;
}

.lista{
  border-style: none;
  border-right-style: solid;
  border-left-style: solid;
}

.icone{
  color: white;
}


.testes{
  -webkit-marquee: auto medium infinite scroll normal;
  overflow-x: -webkit-marquee;
}
.marquee {
  height: 50px;
  width: 360px;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 50px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee ion-label {
  float: left;
  width: 100%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.mycard{
  width: 100%;
  margin: 0px;
  text-align: center;
}

.cardtitulo{
  color: white;
  background-color: #548B54;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}

.lista{
  color: gray;
  position: relative;
  overflow: hidden;
  border-style: none;
  display: none;
}

.label{
  color: gray;
}

.buttons{
  margin: 0px;
}

.inputgrupo{
  border-style: none;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #D3D3D3;
}