page-entrevista {
  .listaHeader{
    text-align: left;
    border-style: none;
    background-color: #7CCD7C;
    border-radius: 5px;
    color: white !important;
  }

  .mycard{
    height: 100% !important;
  }
}
