<ion-header>
  <ion-toolbar>
    <ion-title>
      Escala de Braden
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">Cancelar</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let bradenAtual of braden">
    <ion-list-header style="background-color:#b4d692 !important" (click)="selectBraden(bradenAtual)">
      <ion-row>
        <ion-col width-90>{{bradenAtual.data}}</ion-col>
        <ion-col width-10>
          <div *ngIf="!bradenAtual.icon">
            <ion-icon name="md-arrow-dropright"></ion-icon>
          </div>
          <div *ngIf="bradenAtual.icon">
            <ion-icon name={{bradenAtual.icon}}></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-list-header>
    <div *ngIf="bradenAtual.icon == 'md-arrow-dropdown'">
      <ion-item>Percepção:
        <b>{{bradenAtual.percepcao}}</b>
      </ion-item>
      <ion-item>Umidade:
        <b>{{bradenAtual.umidade}}</b>
      </ion-item>
      <ion-item>Atividade:
        <b>{{bradenAtual.atividade}}</b>
      </ion-item>
      <ion-item>Mobilidade:
        <b>{{bradenAtual.mobilidade}}</b>
      </ion-item>
      <ion-item>Nutrição:
        <b> {{bradenAtual.nutricao}}</b>
      </ion-item>
      <ion-item>Ficção e forças de deslizamento:
        <b> {{bradenAtual.friccao}}</b>
      </ion-item>
      <ion-item>escore:
        <b> {{bradenAtual.score}}</b>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="cadastroBraden()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>