page-diagnosticos {

}
.margemLimitada{
  white-space: pre-line;

  margin-bottom: 0px;
  padding-left:: 10px;

}
.tituloDiagnostico{
    background-color: #7CCD7C;
    white-space: pre-line;

    margin-bottom: 0px;
    padding-left:: 10px;
}
.selecionados{
  background-Color: '#98FB98';
}
