<!--
  Generated template for the Diagnosticos page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
   <ion-title>
     Paciente: {{paciente.nome}}
   </ion-title>
   <ion-buttons start>
     <button ion-button (click)="cancel()">Cancelar SAE</button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding (swipe)="slide($event)">
  <ion-card class="mycard">
    <ion-card-header class="cardtitulo"> Diagnosticos </ion-card-header>
  </ion-card>
    <div *ngFor="let item of diagnosticos" >
      <div class="margemLimitada" class="tituloDiagnostico">
          {{item.diagnostico.titulo}}
      </div>
      <ion-list>
        <div *ngFor="let itervencoes of item.intervencao" (click)="itemSelected(itervencoes)">
          <div class="margemLimitada" [style.background-color]="selecionado(itervencoes.id)?'#98FB98':'#ffffff'">
              {{itervencoes.intervencao}}
          </div>
        </div>
      </ion-list>
    </div>


</ion-content>
