<!--
  Generated template for the Oxigenacao page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Novo Paciente
    </ion-title>
    <ion-buttons start>
      <button ion-button round (click)="cancel()">Cancelar</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="oxigenacao">
  <ion-card class="mycard" (swipe)="slide($event)">
    <ion-card-header class="cardtitulo"> Oxigenação </ion-card-header>
    <ion-list-header class="titulolista" (click)="toggleGroup(0)">Respiração
      <p class="icone" id="iconeOxigenacao0" style="float: right; color: white">+</p>
    </ion-list-header>
    <ion-list no-lines id="dadosOxigenacao0" class="lista">
      <ion-item style="margin-top: 0px;">
        <ion-label floating>O² (Litros/Min)</ion-label>
        <ion-input type="number" [(ngModel)]="historico.O2" class="inputitem"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>SpO²</ion-label>
        <ion-input type="number" [(ngModel)]="historico.SpO" class="inputitem"></ion-input>
      </ion-item>
      <ion-item style="margin-bottom:15px;">
        <ion-label floating>FR (mrpm)</ion-label>
        <ion-input type="number" [(ngModel)]="historico.FR" class="inputitem"></ion-input>
      </ion-item>
      <ion-list radio-group [(ngModel)]="historico.oxigenacao">
        <ion-item>
          <ion-label class="label">Dispnéia</ion-label>
          <ion-radio value="dispnéia"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Taquipnéia</ion-label>
          <ion-radio value="taquipnéia"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Bradipnéia</ion-label>
          <ion-radio value="bradipnéia"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Hiperventilação neurogênica central</ion-label>
          <ion-radio value="hiperventilação neurogênica central"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Apnêustica</ion-label>
          <ion-radio value="apnêustica"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Biot</ion-label>
          <ion-radio value="biot"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Cheyne-Stokes</ion-label>
          <ion-radio value="cheyne-Stokes"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Kussmaul</ion-label>
          <ion-radio value="kussmaul"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">em Salvas</ion-label>
          <ion-radio value="em Salvas"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Traqueostomia</ion-label>
          <ion-radio value="traqueostomia"></ion-radio>
        </ion-item>
        <ion-list radio-group *ngIf="historico.oxigenacao=='traqueostomia'" [(ngModel)]="historico.traqueostomiaMascara">
          <ion-item>
            <ion-label class="label">Com máscara</ion-label>
            <ion-radio value="Com máscara"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label class="label">Sem máscara</ion-label>
            <ion-radio value="Sem máscara"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label class="label">Ventilação mecânica</ion-label>
          <ion-radio value="ventilação mecânica"></ion-radio>
        </ion-item>
        <ion-list radio-group *ngIf="historico.oxigenacao=='ventilação mecânica'" [(ngModel)]="historico.ventilacaoMecanicaOxigenacao">
          <ion-item>
            <ion-label class="label">Catéter</ion-label>
            <ion-radio value="catéter"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label class="label">Máscara</ion-label>
            <ion-radio value="máscara"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-list>
      <ion-item style="margin-bottom:15px;">
        <ion-label floating>FiO2</ion-label>
        <ion-input type="number" [(ngModel)]="historico.FiO2" class="inputitem"></ion-input>
      </ion-item>
      <ion-item style="margin-bottom:15px;">
        <ion-label floating>PEEP</ion-label>
        <ion-input type="number" [(ngModel)]="historico.Peep" class="inputitem"></ion-input>
      </ion-item>
      <ion-item style="margin-bottom:15px;">
        <ion-label floating>SpO2</ion-label>
        <ion-input type="number" [(ngModel)]="historico.SpO2" class="inputitem"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list-header class="titulolista" (click)="toggleGroup(1)">Ausculta pulmonar
      <p class="icone" id="iconeOxigenacao1" style="float: right; color: white">+</p>
    </ion-list-header>
    <ion-list no-lines class="lista" id="dadosOxigenacao1">
      <ion-item-divider light style="text-align: left; border-radius: 5px;">MV presentes</ion-item-divider>
      <ion-list radio-group [(ngModel)]="historico.auscultaPulmonar_MvPresente">
        <ion-item>
          <ion-label class="label">Bilateralmente</ion-label>
          <ion-radio value="bilateralmente"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Diminuídos</ion-label>
          <ion-radio value="diminuídos"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Ausente</ion-label>
          <ion-radio value="ausente"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item-divider light style="text-align: left; border-radius: 5px;">Ruídos adventícios</ion-item-divider>
      <ion-list radio-group [(ngModel)]="historico.auscultaPulmonar_Ruidos">
        <ion-item>
          <ion-label class="label">Roncos</ion-label>
          <ion-radio value="roncos"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Sibilos</ion-label>
          <ion-radio value="sibilos"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Estertores</ion-label>
          <ion-radio value="estertores"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="label">Creptos</ion-label>
          <ion-radio value="creptos"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-list-header class="titulolista" (click)="toggleGroup(2)">Presenção de tosse
      <p class="icone" id="iconeOxigenacao2" style="float: right; color: white">+</p>
    </ion-list-header>
    <ion-list no-lines radio-group class="lista" id="dadosOxigenacao2" [(ngModel)]="historico.presencaoDeTosse_xpectoracao" style="margin: 0px">
      <ion-item>
        <ion-label class="label">Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="label">Seca</ion-label>
        <ion-radio value="seca"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="label">Produtiva</ion-label>
        <ion-radio value="produtiva"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list-header class="titulolista" (click)="toggleGroup(3)">Aspiração
      <p class="icone" id="iconeOxigenacao3" style="float: right; color: white">+</p>
    </ion-list-header>
    <ion-list class="lista" id="dadosOxigenacao3">
      <ion-list radio-group [(ngModel)]="historico.aspiracao" id="dadosOxigenacao3">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label">Sim</ion-label>
              <ion-radio value="sim" (click)="toggleGroup2(0,'block')"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="label">Não</ion-label>
              <ion-radio value="nao" (click)="toggleGroup2(0,'none')"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list no-lines id="listRadio0" style="display: none; padding: 0px; margin: 0px">
        <ion-row style="margin: 0px">
          <ion-col>
            <ion-item>
              <ion-label class="label " style="margin: 0px" floating>quantidade</ion-label>
              <ion-input class="inputgrupo" [(ngModel)]="historico.aspiracaoQuantidade" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="label" style="margin: 0px" floating>característica</ion-label>
              <ion-input class="inputgrupo" [(ngModel)]="historico.aspiracaoCaracteristica" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-list>

    <ion-list-header class="titulolista" (click)="toggleGroup(4)">Drenagem torácica
      <p class="icone" id="iconeOxigenacao4" style="float: right; color: white">+</p>
    </ion-list-header>
    <ion-list class="lista" id="dadosOxigenacao4">
      <ion-list radio-group [(ngModel)]="historico.drenagemToracica">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label">Sim</ion-label>
              <ion-radio value="sim" (click)="toggleGroup2(1,'block')"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="label">Não</ion-label>
              <ion-radio value="nao" (click)="toggleGroup2(1,'none')"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list no-lines id="listRadio1" style="display: none; padding: 0px; margin: 0px;">
        <ion-row style="margin: 0px">
          <ion-col>
            <ion-item style="margin: 0px">
              <ion-label class="label" style="margin: 0px" floating>quantidade</ion-label>
              <ion-input class="inputgrupo" [(ngModel)]="historico.drenagemToracicaQuantidade" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="label" style="margin: 0px" floating>característica</ion-label>
              <ion-input class="inputgrupo" [(ngModel)]="historico.drenagemToracicaCaracteristica" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list no-lines style="margin: 0px; padding: 0px;">
        <ion-item>
          <ion-label class="label">DTE</ion-label>
          <ion-checkbox [(ngModel)]="historico.drenagemToracicaDTE"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label class="label">DTD</ion-label>
          <ion-checkbox [(ngModel)]="historico.drenagemToracicaDTD"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-list-header class="titulolista" (click)="toggleGroup(5)">Mamas
      <p class="icone" id="iconeOxigenacao5" style="float: right; color: white">+</p>
    </ion-list-header>
    <ion-list no-lines radio-group [(ngModel)]="historico.mamas" class="lista" id="dadosOxigenacao5">
      <ion-item>
        <ion-label class="label">Sem alterações</ion-label>
        <ion-radio value="Sem Altecacoes"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="label">Nódulos</ion-label>
        <ion-radio value="nodulos"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="label">Dor</ion-label>
        <ion-radio value="dor"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="label">Assimétricas</ion-label>
        <ion-radio value="assimétricas"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
